<h3>Twitter Streaming Web-App</h3>

<%#*<h4>Controller - Home Action - Index</h4><br />%>

<%= link_to "Add Keyword", :add_keyword %><br />
<%= link_to "Show Keywords", :keywords %><br />
<%= link_to "Twitter Stream", :twitter_stream %><br />
<%= link_to "Store Twitter Stream Data", :store_data %>